@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@tailwind utilities;

@theme{
  --color-dark-green: #1B2316;
  --color-green: #222C1D;


  --font-body: "Inter", sans-serif;
}

@layer base{
  body{
    background-color: var(--color-dark-green);
  }
}

